</div>
</div>
</div>
<footer>
<p class="text-center">Albumz ORIGIN INC &copy; 2020, All Rights Reserved</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
