<!DOCTYPE html>
<html>
<head>
	<title>Albumz</title>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
  
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">Albumz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

      
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if(authdata === null) { %>
        <a class="nav-link" href="/users/register">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-item-right">
        <a class="nav-link right" href="/users/login">Login</a>
      </li>
      <% } else { %>
      <li class="nav-item right">
        <a class="nav-link" href="/users/logout">LogOut</a>

      </li>
      <% } %>
    </ul>
      
    </div>

      
  </div>
</div>
  
  

    <div class="container">
      <% if(authdata === null){ %>
        <div class="row">
          <div class="col-md-12">
              <% if(page === '/'){ %>
                <a href="/albums"><img src="/images/banner.jpg"></a>
              <% } %>
          </div>
        </div>
      <% } else { %>
	    <div class="row">
		    <div class="col-md-3">
        <% if(authdata !== null){ %>
            
        <% } %>
			    <ul class="list-group">
			    <li class="list-group-item"><a href="/albums">View Albums</a></li>
			    <li class="list-group-item"><a href="/genres">View Genres</a></li>
          <li class="list-group-item"><a href="/musics">View Music</a></li>
			    </ul>
		    </div>
		    <div class="col-md-9">
          <% if (success_msg != false){ %>
          <div class="alert alert-success">
            <%= success_msg %>
          </div>
          <% } %>
          <% if (error_msg != false){ %>
            <div class="alert alert-danger">
              <%= error_msg %>
            </div>
          <% } %>
      <% } %>
